$green: #27ae60;
$blue: #1976d2;
$orange: #f39c12;
$purple: #9b59b6;
$red: #c0392b;

$azul: #0067AB;
$verde: #00AF96;

$colorLikeUp: rgb(171, 21, 36);
$colorLikeDown: rgb(42, 42, 42);

$primaryLow: rgb(46, 46, 46);
$primaryMedium: rgb(38, 38, 38);
$primaryHight: rgb(0, 0, 0);
